@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="Artisans">Artisians edit</a>.</p>
    <p><a href="Crafts">Crafts edit</a>.</p>
    <p><a href="Relations">Relations edit</a>.</p>
    <p><a href="Emails">Emails edit</a>.</p>
    <p><a href="IsInheritances">Is Inheritances edit</a>.</p>
</div>
